<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=7">
  </head>
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
  <body>
    <header class="block-header">
      <div class="block-top-header">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="item-left">
                <ul class="list-item-left">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="item-right">
                <ul class="list-item-right">
                  <li><a href="">ĐĂNG KÍ</a></li>
                  <li><a href="">ĐĂNG NHẬP</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-list-header">
        <div class="container">
          <div class="row">
            <div class="col-md-2"><img class="block-logo" src="../../images/logo.png" alt=""></div>
            <div class="col-md-6">
              <div class="phone-list">
                <div class="phone-hotline">
                  <h3>HOTLINE:</h3>
                  <p>(04) 9500 9650 - (04) 9500 8850 </p>
                </div>
                <div class="phone-book">
                  <h3>ĐẶT HÀNG NHANH:</h3>
                  <p>(04) 9500 9650 - (04) 9500 8850</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input group">
                <form action="#">
                  <input type="text" placeholder="Tìm kiếm...">
                  <button><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-bottom-header">
        <div class="container">
          <div class="row">
            <div class="col-md-11">
              <div class="block-list-menu">
                <ul class="block-nav-menu">
                  <li class="block-link-item active">TRANG CHỦ</li>
                  <li class="block-link-item"><a href="#">GIỚI THIỆU</a></li>
                  <li class="block-link-item"><a href="#">SẢN PHẨM</a></li>
                  <li class="block-link-item"><a href="#">TIN KHUYẾN MÃI</a></li>
                  <li class="block-link-item"><a href="#">DỊCH VỤ</a></li>
                  <li class="block-link-item"><a href="#">LIÊN HỆ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-1">
              <div class="block-cart"><a class="ac" href="#">
                  <p class="count-card">0</p><i class="fas fa-shopping-basket"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="block-slider">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="block-slider-content"><img class="slider-img" src="../../images/slide.png" alt="">
              <div class="slider-intro">
                <h3 class="intro-title">MÁY KHOAN ĐA NĂNG</h3>
                <h1 class="intro-current">DEWALT</h1>
                <ol>
                  <li class="intro-item"><i class="far fa-check-circle">
                      <p class="intro-text">Thiết kế nhỏ gọn, phù hợp, đa mục đích</p></i></li><br>
                  <li class="intro-item"><i class="far fa-check-circle">
                      <p class="intro-text">Mạnh mẽ, bền bỉ và hiệu suất lớn hơn</p></i></li><br>
                  <li class="intro-item"><i class="far fa-check-circle">
                      <p class="intro-text">Khoan cắt với độ chính xác tuyệt đối</p></i></li>
                </ol>
                <button class="intro-order">ĐẶT HÀNG</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-slider-policy">
              <div class="policy-content"><img src="../../images/icon1.png" alt="">
                <div class="item-content">
                  <h3 class="title">MIỄN PHÍ VẬN CHUYỂN</h3>
                  <p class="text">Chúng tôi vận chuyển miễn phí với các đơn hàng  trị giá trên 1000.000 Đ</p>
                </div>
              </div>
              <div class="policy-content"><img src="../../images/icon2.png" alt="">
                <div class="item-content">
                  <h3 class="title">CHÍNH SÁCH ĐỔI TRẢ</h3>
                  <p class="text">Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên</p>
                </div>
              </div>
              <div class="policy-content"><img src="../../images/icon3.png" alt="">
                <div class="item-content">
                  <h3 class="title">KHUYẾN MẠI HÀNG TUẦN</h3>
                  <p class="text">Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn</p>
                </div>
              </div>
              <div class="policy-content"><img src="../../images/icon4.png" alt="">
                <div class="item-content">
                  <h3 class="title">CAM KẾT HÀNG CHÍNH HÃNG</h3>
                  <p class="text">Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẫm</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="block-product-featured">
      <div class="container">
        <div class="block-left">
          <div class="top-title-pro"><i class="fab fa-windows pig"></i>
            <h3 class="title-name">SẢN PHẨM NỔI BẬT</h3>
          </div>
          <div class="menu-list-pro">
            <ul class="list-menu">
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy khoan, cắt CNC</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy in phun khổ lớn</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy quét Canon 3D</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy hàn điện Alunima</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy khoan Decameta</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy phay đa năng CNC</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy mài, tiện DC 12V</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy khoan, cắt CNC</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy quay thông minh N3</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Motor R34C đa dụng</h3></a></li>
              <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
                  <h3>Máy in laser màu 3D</h3></a></li>
            </ul>
          </div>
        </div>
        <div class="block-right">
          <div class="top-list-menu">
            <ul class="list-pro">
              <li class="left"><a href=""><i class="fas fa-caret-left"></i></a></li>
              <li class="right"><a href=""><i class="fas fa-caret-right"></i></a></li>
            </ul>
          </div>
          <div class="list-product">
            <div class="row">
              <div class="col-md-4 link-pro">
                <div class="product-block"><img class="pro" src="../../images/product_01.png" alt="">
                  <div class="content-pro">
                    <p class="price">1.550.00 Đ</p>
                    <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                    <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                    </p>
                  </div>
                  <div class="group-button">
                    <button class="click">MUA NGAY</button>
                    <button class="click">XEM CHI TIẾT</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 link-pro">
                <div class="product-block"><img class="pro" src="../../images/product_02.png" alt="">
                  <div class="content-pro">
                    <p class="price">1.550.00 Đ</p>
                    <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                    <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                    </p>
                  </div>
                  <div class="group-button">
                    <button class="click">MUA NGAY</button>
                    <button class="click">XEM CHI TIẾT</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 link-pro">
                <div class="product-block"><img class="pro" src="../../images/product_03.png" alt="">
                  <div class="content-pro">
                    <p class="price">1.550.00 Đ</p>
                    <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                    <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                    </p>
                  </div>
                  <div class="group-button">
                    <button class="click">MUA NGAY</button>
                    <button class="click">XEM CHI TIẾT</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 link-pro">
                <div class="product-block"><img class="pro" src="../../images/product_4.png" alt="">
                  <div class="content-pro">
                    <p class="price">1.550.00 Đ</p>
                    <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                    <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                    </p>
                    <div class="group-button">
                      <button class="click">MUA NGAY</button>
                      <button class="click">XEM CHI TIẾT</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 link-pro">
                <div class="product-block"><img class="pro" src="../../images/product_5.png" alt="">
                  <div class="content-pro">
                    <p class="price">1.550.00 Đ</p>
                    <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                    <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                    </p>
                    <div class="group-button">
                      <button class="click">MUA NGAY</button>
                      <button class="click">XEM CHI TIẾT</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 link-pro">
                <div class="product-block"><img class="pro" src="../../images/product_6.png" alt="">
                  <div class="content-pro">
                    <p class="price">1.550.00 Đ</p>
                    <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                    <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                    </p>
                    <div class="group-button">
                      <button class="click">MUA NGAY</button>
                      <button class="click">XEM CHI TIẾT</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="block-product-new">
      <div class="container">
        <div class="row title">
          <div class="block-left">
            <div class="top-title-pro"><i class="fab fa-windows pig"></i>
              <h3 class="title-name">SẢN PHẨM MỚI</h3>
            </div>
          </div>
          <div class="block-menu">
            <div class="top-list-menu">
              <ul class="menu-product">
                <li class="menu-link-pro"><a class="link" href="">Máy khoan</a></li>
                <li class="menu-link-pro"><a class="link" href="">Máy in 3D</a></li>
                <li class="menu-link-pro"><a class="link" href="">Máy CNC</a></li>
                <li class="menu-link-pro"><a class="link" href="">Máy tiện</a></li>
                <li class="menu-link-pro"><a class="link" href="">Máy khác</a></li>
              </ul>
            </div>
          </div>
          <div class="block-right">
            <ul class="list-pro">
              <li class="left"><a href=""><i class="fas fa-caret-left"></i></a></li>
              <li class="right"><a href=""><i class="fas fa-caret-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row pro">
          <div class="col-md-4">
            <div class="product-block"><img class="pro" src="../../images/product_8.png" alt="">
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <div class="group-button">
                  <button class="click">MUA NGAY</button>
                  <button class="click">XEM CHI TIẾT</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-block"><img class="pro" src="../../images/product_7.png" alt="">
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <div class="group-button">
                  <button class="click">MUA NGAY</button>
                  <button class="click">XEM CHI TIẾT</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-block"><img class="pro" src="../../images/product_10.png" alt="">
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <div class="group-button">
                  <button class="click">MUA NGAY</button>
                  <button class="click">XEM CHI TIẾT</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="block-banner-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block-item-banner"><img class="img-banner" src="../../images/banner2.png" alt="">
              <div class="banner-intro">
                <h1 class="name-product">DEMISHI</h1>
                <h3 class="intro-sp">MÁY HÀN XÌ CHUYÊN NGHIỆP</h3>
                <p class="price">2.250.000 Đ</p>
                <p class="opp">CƠ HỘI TRÚNG NGAY TIVI SAMSUNG LCD TRỊ GIÁ <span>2.700.000 Đ</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="block-item-banner"><img class="img-banner" src="../../images/banner1.png" alt="">
              <div class="banner-intro">
                <h1 class="name-product">MAKITA</h1>
                <h3 class="intro-sp">MÁY KHOAN - CẮT ĐA NĂNG</h3>
                <p class="price">7.450.000 Đ</p>
                <p class="opp">TẶNG NGAY 1 BỘ PHỤ KIỆN CAO CẤP TRỊ GIÁ <span>600.000 Đ</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="block-product-selling">
      <div class="container">
        <div class="row">
          <div class="block-left">
            <div class="top-title-pro"><i class="fab fa-windows pig"></i>
              <h3 class="title-name">SẢN PHẨM BÁN CHẠY</h3>
            </div>
          </div>
          <div class="block-menu">
            <div class="top-list-menu">
              <ul class="menu-product">
                <li class="menu-link-pro"><a class="link" href="">Máy khoan</a></li>
                <li class="menu-link-pro"><a class="link" href="">Máy in 3D</a></li>
                <li class="menu-link-pro"><a class="link" href="">Máy CNC</a></li>
                <li class="menu-link-pro"><a class="link" href="">Máy tiện</a></li>
                <li class="menu-link-pro"><a class="link" href="">Máy khác</a></li>
              </ul>
            </div>
          </div>
          <div class="block-right">
            <ul class="list-pro">
              <li class="left"><a href=""><i class="fas fa-caret-left"></i></a></li>
              <li class="right"><a href=""><i class="fas fa-caret-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row link-pro">
          <div class="col-md-3">
            <div class="product-block"><img class="pro" src="../../images/product_4.png" alt="">
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
            <div class="product-block"><img class="pro" src="../../images/product_4.png" alt="">
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-block-pig"><img class="pro" src="../../images/productpig.png" alt="">
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-block"><img class="pro" src="../../images/product_4.png" alt="">
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
            <div class="product-block"><img class="pro" src="../../images/product_4.png" alt="">
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="block-banner-2">
      <div class="container">
        <div class="row">
          <div class="block-item-banner">
            <div class="banner-intro">
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="block-product-justnew">
      <div class="container">
        <div class="row">
          <div class="block-left">
            <div class="top-title-pro"><i class="fab fa-windows pig"></i>
              <h3 class="title-name">HÀNG MỚI VỀ</h3>
            </div>
          </div>
          <div class="block-right">
            <ul class="list-pro">
              <li class="left"><a href=""><i class="fas fa-caret-left"></i></a></li>
              <li class="right"><a href=""><i class="fas fa-caret-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row mv">
          <div class="col-md-6 link-pro">
            <div class="product-block"><img class="mv" src="../../images/product_01.png" alt="">
              <div class="content-pro">
                <h1 class="name-product">MÁY KHOAN CNC 3D</h1>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <h3 class="pro-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...</h3>
                <p class="price">2.350.00 Đ</p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 link-pro">
            <div class="product-block"><img class="mv" src="../../images/product_02.png" alt="">
              <div class="content-pro">
                <h1 class="name-product">MÁY KHOAN CNC 3D</h1>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <h3 class="pro-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...</h3>
                <p class="price">2.350.00 Đ</p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mv">
          <div class="col-md-6 link-pro">
            <div class="product-block"><img class="mv" src="../../images/product_01.png" alt="">
              <div class="content-pro">
                <h1 class="name-product">MÁY KHOAN CNC 3D</h1>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"> <span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <h3 class="pro-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...</h3>
                <p class="price">2.350.00 Đ</p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 link-pro">
            <div class="product-block"><img class="mv" src="../../images/product_02.png" alt="">
              <div class="content-pro">
                <h1 class="name-product">MÁY KHOAN CNC 3D</h1>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"> <span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <h3 class="pro-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...</h3>
                <p class="price">2.350.00 Đ</p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="block-footer">
      <div class="container">
        <div class="row footer-top">
          <div class="col1">
            <div class="top-title-pro"><i class="fab fa-windows pig"></i>
              <h3 class="title-name">VỀ CHÚNG TÔI</h3>
            </div>
            <div class="content">
              <p>Công ty Cổ phẩn Công nghệ DKT đã và đang  khẳng định được vị trí hàng đầu trong lĩnh vực thương mại điện tử</p><i class="fas fa-map-marker-alt"> </i>
              <p class="q">Tầng 4 - Tòa nhà Hanoi Group</p>
              <p>442 Đội Cấn Ba Đình - Hà Nội</p><i class="fas fa-envelope"></i>
              <p>support@dkt.com.vn</p><i class="fas fa-mobile-alt"></i>
              <p>(84-4) 66558868  -  (84-4) 37868904</p>
            </div>
          </div>
          <div class="col2">
            <div class="top-title-pro"><i class="fab fa-windows pig"></i>
              <h3 class="title-name">CHÍNH SÁCH</h3>
            </div>
            <div class="content">
              <p>Chính sách giao hàng</p>
              <p>Chính sách đổi sản phẩm</p>
              <p>Chính sách bảo hành</p>
              <p>Chính sách trả góp</p>
              <p>Giới thiệu hàng đổi trả</p>
              <p>Vận chuyển miễn phí</p>
            </div>
          </div>
          <div class="col3">
            <div class="top-title-pro"><i class="fab fa-windows pig"></i>
              <h3 class="title-name">DỊCH VỤ & HỖ TRỢ</h3>
            </div>
            <div class="content">
              <p>Hệ thống cửa hàng</p>
              <p>Hướng dẫn mua hàng</p>
              <p>Hướng dẫn thanh toán</p>
              <p>Tích điểm đối tượng</p>
              <p>Dịch vụ đổi trả hàng</p>
              <p>Câu hỏi thường gặp</p>
            </div>
          </div>
          <div class="col4">
            <div class="top-title-pro"><i class="fab fa-windows pig"></i>
              <h3 class="title-name">TIN TỨC - SỰ KIỆN</h3>
            </div>
            <div class="content">
              <p>Tin tức mới nhất</p>
              <p>Tin tức khuyến mại</p>
              <p>Tuyển dụng, đãi ngộ</p>
              <p>Download tài liệu</p>
              <p>Chương trình đối tác</p>
              <p>Nhà phát triển ứng dụng</p>
            </div>
          </div>
          <div class="col5">
            <div class="top-title-pro"><i class="fab fa-windows pig"></i>
              <h3 class="title-name">KẾT NỐI</h3>
            </div>
            <div class="content"><i class="fab fa-facebook-f"> </i>
              <p>Facebook</p><i class="fab fa-twitter"></i>
              <p>Twitter</p><i class="fab fa-google-plus-g"></i>
              <p>Google</p><i class="fab fa-skype"></i>
              <p>Skype</p><i class="fab fa-instagram"></i>
              <p>Instagram</p>
            </div>
          </div>
        </div>
        <div class="row footer-center">
          <div class="col6">
            <div class="footer-pay">
              <p class="top-title">Thanh toán:</p><br><a href=""><img src="../../images/bank1.png" alt=""></a><a href=""><img src="../../images/bank2.png" alt=""></a><a href=""><img src="../../images/bank3.png" alt=""></a><a href=""><img src="../../images/bank4.png" alt=""></a><a href=""><img src="../../images/bank5.png" alt=""></a><a href=""><img src="../../images/bank6.png" alt=""></a><a href=""><img src="../../images/bank7.png" alt=""></a><a href=""><img src="../../images/bank8.png" alt=""></a>
            </div>
          </div>
          <div class="col7">
            <div class="footer-answers">
              <p class="top-title">Giải đáp nhanh</p>
              <div class="footer-phone-a"><i class="fas fa-phone"></i>
                <p class="c">Tư vấn miễn phí (24/7)<br><span>1900 650 650</span></p>
              </div>
              <div class="footer-phone-b"><i class="fas fa-comments"></i>
                <p class="c">Góp ý - phản hồi - thắc mắc<br><span>1900 650 650</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row footer-bottom">
          <div class="ft-bottom">
            <div class="col-md-6 a">
              <p>Bản quyền thuộc về Design Team. Phát triển bởi Bizweb.</p>
            </div>
            <div class="col-md-6 b">
              <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Sản phẩm</a></li>
                <li><a href="">Tin khuyến mại</a></li>
                <li><a href="">Dịch vụ</a></li>
                <li><a href="">Liên hệ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>