
<section class="block-slider">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="block-slider-content"><img class="slider-img" src="../../images/slide.png" alt=""/>
          <div class="slider-intro">
            <h3 class="intro-title">MÁY KHOAN ĐA NĂNG</h3>
            <h1 class="intro-current">DEWALT</h1>
            <ol>
              <li class="intro-item"><i class="far fa-check-circle">
                  <p class="intro-text">Thiết kế nhỏ gọn, phù hợp, đa mục đích</p></i></li><br/>
              <li class="intro-item"><i class="far fa-check-circle">
                  <p class="intro-text">Mạnh mẽ, bền bỉ và hiệu suất lớn hơn</p></i></li><br/>
              <li class="intro-item"><i class="far fa-check-circle">
                  <p class="intro-text">Khoan cắt với độ chính xác tuyệt đối</p></i></li>
            </ol>
            <button class="intro-order">ĐẶT HÀNG</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block-slider-policy">
          <div class="policy-content"><img src="../../images/icon1.png" alt=""/>
            <div class="item-content">
              <h3 class="title">MIỄN PHÍ VẬN CHUYỂN</h3>
              <p class="text">Chúng tôi vận chuyển miễn phí với các đơn hàng  trị giá trên 1000.000 Đ</p>
            </div>
          </div>
          <div class="policy-content"><img src="../../images/icon2.png" alt=""/>
            <div class="item-content">
              <h3 class="title">CHÍNH SÁCH ĐỔI TRẢ</h3>
              <p class="text">Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên</p>
            </div>
          </div>
          <div class="policy-content"><img src="../../images/icon3.png" alt=""/>
            <div class="item-content">
              <h3 class="title">KHUYẾN MẠI HÀNG TUẦN</h3>
              <p class="text">Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn</p>
            </div>
          </div>
          <div class="policy-content"><img src="../../images/icon4.png" alt=""/>
            <div class="item-content">
              <h3 class="title">CAM KẾT HÀNG CHÍNH HÃNG</h3>
              <p class="text">Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẫm</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>