section.block-slider
    .container
        .row
            .col-md-8
                .block-slider-content
                    img(src="../../images/slide.png", alt="").slider-img
                    .slider-intro
                        h3.intro-title MÁY KHOAN ĐA NĂNG
                        h1.intro-current DEWALT
                        ol
                            li.intro-item
                                i.far.fa-check-circle
                                    p.intro-text Thiết kế nhỏ gọn, phù hợp, đa mục đích
                            br
                            li.intro-item
                                i.far.fa-check-circle
                                    p.intro-text Mạnh mẽ, bền bỉ và hiệu suất lớn hơn
                            br
                            li.intro-item
                                i.far.fa-check-circle
                                    p.intro-text Khoan cắt với độ chính xác tuyệt đối
                        button.intro-order ĐẶT HÀNG
            .col-md-4
                .block-slider-policy
                    .policy-content
                        img(src="../../images/icon1.png", alt="")
                        .item-content
                            h3.title MIỄN PHÍ VẬN CHUYỂN
                            p.text Chúng tôi vận chuyển miễn phí với các đơn hàng  trị giá trên 1000.000 Đ
                    .policy-content
                        img(src="../../images/icon2.png", alt="")
                        .item-content
                            h3.title CHÍNH SÁCH ĐỔI TRẢ
                            p.text Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên
                    .policy-content
                        img(src="../../images/icon3.png", alt="")
                        .item-content
                            h3.title KHUYẾN MẠI HÀNG TUẦN
                            p.text Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn
                    .policy-content
                        img(src="../../images/icon4.png", alt="")
                        .item-content
                            h3.title CAM KẾT HÀNG CHÍNH HÃNG
                            p.text Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẫm