
<section class="block-footer">
  <div class="container">
    <div class="row footer-top">
      <div class="col1">
        <div class="top-title-pro"><i class="fab fa-windows pig"></i>
          <h3 class="title-name">VỀ CHÚNG TÔI</h3>
        </div>
        <div class="content">
          <p>Công ty Cổ phẩn Công nghệ DKT đã và đang  khẳng định được vị trí hàng đầu trong lĩnh vực thương mại điện tử</p><i class="fas fa-map-marker-alt"> </i>
          <p class="q">Tầng 4 - Tòa nhà Hanoi Group</p>
          <p>442 Đội Cấn Ba Đình - Hà Nội</p><i class="fas fa-envelope"></i>
          <p>support@dkt.com.vn</p><i class="fas fa-mobile-alt"></i>
          <p>(84-4) 66558868  -  (84-4) 37868904</p>
        </div>
      </div>
      <div class="col2">
        <div class="top-title-pro"><i class="fab fa-windows pig"></i>
          <h3 class="title-name">CHÍNH SÁCH</h3>
        </div>
        <div class="content">
          <p>Chính sách giao hàng</p>
          <p>Chính sách đổi sản phẩm</p>
          <p>Chính sách bảo hành</p>
          <p>Chính sách trả góp</p>
          <p>Giới thiệu hàng đổi trả</p>
          <p>Vận chuyển miễn phí</p>
        </div>
      </div>
      <div class="col3">
        <div class="top-title-pro"><i class="fab fa-windows pig"></i>
          <h3 class="title-name">DỊCH VỤ & HỖ TRỢ</h3>
        </div>
        <div class="content">
          <p>Hệ thống cửa hàng</p>
          <p>Hướng dẫn mua hàng</p>
          <p>Hướng dẫn thanh toán</p>
          <p>Tích điểm đối tượng</p>
          <p>Dịch vụ đổi trả hàng</p>
          <p>Câu hỏi thường gặp</p>
        </div>
      </div>
      <div class="col4">
        <div class="top-title-pro"><i class="fab fa-windows pig"></i>
          <h3 class="title-name">TIN TỨC - SỰ KIỆN</h3>
        </div>
        <div class="content">
          <p>Tin tức mới nhất</p>
          <p>Tin tức khuyến mại</p>
          <p>Tuyển dụng, đãi ngộ</p>
          <p>Download tài liệu</p>
          <p>Chương trình đối tác</p>
          <p>Nhà phát triển ứng dụng</p>
        </div>
      </div>
      <div class="col5">
        <div class="top-title-pro"><i class="fab fa-windows pig"></i>
          <h3 class="title-name">KẾT NỐI</h3>
        </div>
        <div class="content"><i class="fab fa-facebook-f"> </i>
          <p>Facebook</p><i class="fab fa-twitter"></i>
          <p>Twitter</p><i class="fab fa-google-plus-g"></i>
          <p>Google</p><i class="fab fa-skype"></i>
          <p>Skype</p><i class="fab fa-instagram"></i>
          <p>Instagram</p>
        </div>
      </div>
    </div>
    <div class="row footer-center">
      <div class="col6">
        <div class="footer-pay">
          <p class="top-title">Thanh toán:</p><br/><a href=""><img src="../../images/bank1.png" alt=""/></a><a href=""><img src="../../images/bank2.png" alt=""/></a><a href=""><img src="../../images/bank3.png" alt=""/></a><a href=""><img src="../../images/bank4.png" alt=""/></a><a href=""><img src="../../images/bank5.png" alt=""/></a><a href=""><img src="../../images/bank6.png" alt=""/></a><a href=""><img src="../../images/bank7.png" alt=""/></a><a href=""><img src="../../images/bank8.png" alt=""/></a>
        </div>
      </div>
      <div class="col7">
        <div class="footer-answers">
          <p class="top-title">Giải đáp nhanh</p>
          <div class="footer-phone-a"><i class="fas fa-phone"></i>
            <p class="c">Tư vấn miễn phí (24/7)<br/><span>1900 650 650</span></p>
          </div>
          <div class="footer-phone-b"><i class="fas fa-comments"></i>
            <p class="c">Góp ý - phản hồi - thắc mắc<br/><span>1900 650 650</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row footer-bottom">
      <div class="ft-bottom">
        <div class="col-md-6 a">
          <p>Bản quyền thuộc về Design Team. Phát triển bởi Bizweb.</p>
        </div>
        <div class="col-md-6 b">
          <ul>
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Sản phẩm</a></li>
            <li><a href="">Tin khuyến mại</a></li>
            <li><a href="">Dịch vụ</a></li>
            <li><a href="">Liên hệ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>