
<header class="block-header">
  <div class="block-top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="item-left">
            <ul class="list-item-left">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="item-right">
            <ul class="list-item-right">
              <li><a href="">ĐĂNG KÍ</a></li>
              <li><a href="">ĐĂNG NHẬP</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-list-header">
    <div class="container">
      <div class="row">
        <div class="col-md-2"><img class="block-logo" src="../../images/logo.png" alt=""/></div>
        <div class="col-md-6">
          <div class="phone-list">
            <div class="phone-hotline">
              <h3>HOTLINE:</h3>
              <p>(04) 9500 9650 - (04) 9500 8850 </p>
            </div>
            <div class="phone-book">
              <h3>ĐẶT HÀNG NHANH:</h3>
              <p>(04) 9500 9650 - (04) 9500 8850</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input group">
            <form action="#">
              <input type="text" placeholder="Tìm kiếm..."/>
              <button><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-bottom-header">
    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <div class="block-list-menu">
            <ul class="block-nav-menu">
              <li class="block-link-item active">TRANG CHỦ</li>
              <li class="block-link-item"><a href="#">GIỚI THIỆU</a></li>
              <li class="block-link-item"><a href="#">SẢN PHẨM</a></li>
              <li class="block-link-item"><a href="#">TIN KHUYẾN MÃI</a></li>
              <li class="block-link-item"><a href="#">DỊCH VỤ</a></li>
              <li class="block-link-item"><a href="#">LIÊN HỆ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <div class="block-cart"><a class="ac" href="#">
              <p class="count-card">0</p><i class="fas fa-shopping-basket"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</header>