
<section class="block-product-featured">
  <div class="container">
    <div class="block-left">
      <div class="top-title-pro"><i class="fab fa-windows pig"></i>
        <h3 class="title-name">SẢN PHẨM NỔI BẬT</h3>
      </div>
      <div class="menu-list-pro">
        <ul class="list-menu">
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy khoan, cắt CNC</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy in phun khổ lớn</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy quét Canon 3D</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy hàn điện Alunima</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy khoan Decameta</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy phay đa năng CNC</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy mài, tiện DC 12V</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy khoan, cắt CNC</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy quay thông minh N3</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Motor R34C đa dụng</h3></a></li>
          <li class="link-menu"><a href=""><i class="fab fa-windows"></i>
              <h3>Máy in laser màu 3D</h3></a></li>
        </ul>
      </div>
    </div>
    <div class="block-right">
      <div class="top-list-menu">
        <ul class="list-pro">
          <li class="left"><a href=""><i class="fas fa-caret-left"></i></a></li>
          <li class="right"><a href=""><i class="fas fa-caret-right"></i></a></li>
        </ul>
      </div>
      <div class="list-product">
        <div class="row">
          <div class="col-md-4 link-pro">
            <div class="product-block"><img class="pro" src="../../images/product_01.png" alt=""/>
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 link-pro">
            <div class="product-block"><img class="pro" src="../../images/product_02.png" alt=""/>
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 link-pro">
            <div class="product-block"><img class="pro" src="../../images/product_03.png" alt=""/>
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
              </div>
              <div class="group-button">
                <button class="click">MUA NGAY</button>
                <button class="click">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 link-pro">
            <div class="product-block"><img class="pro" src="../../images/product_4.png" alt=""/>
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <div class="group-button">
                  <button class="click">MUA NGAY</button>
                  <button class="click">XEM CHI TIẾT</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 link-pro">
            <div class="product-block"><img class="pro" src="../../images/product_5.png" alt=""/>
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <div class="group-button">
                  <button class="click">MUA NGAY</button>
                  <button class="click">XEM CHI TIẾT</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 link-pro">
            <div class="product-block"><img class="pro" src="../../images/product_6.png" alt=""/>
              <div class="content-pro">
                <p class="price">1.550.00 Đ</p>
                <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
                <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
                </p>
                <div class="group-button">
                  <button class="click">MUA NGAY</button>
                  <button class="click">XEM CHI TIẾT</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block-product-new">
  <div class="container">
    <div class="row title">
      <div class="block-left">
        <div class="top-title-pro"><i class="fab fa-windows pig"></i>
          <h3 class="title-name">SẢN PHẨM MỚI</h3>
        </div>
      </div>
      <div class="block-menu">
        <div class="top-list-menu">
          <ul class="menu-product">
            <li class="menu-link-pro"><a class="link" href="">Máy khoan</a></li>
            <li class="menu-link-pro"><a class="link" href="">Máy in 3D</a></li>
            <li class="menu-link-pro"><a class="link" href="">Máy CNC</a></li>
            <li class="menu-link-pro"><a class="link" href="">Máy tiện</a></li>
            <li class="menu-link-pro"><a class="link" href="">Máy khác</a></li>
          </ul>
        </div>
      </div>
      <div class="block-right">
        <ul class="list-pro">
          <li class="left"><a href=""><i class="fas fa-caret-left"></i></a></li>
          <li class="right"><a href=""><i class="fas fa-caret-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row pro">
      <div class="col-md-4">
        <div class="product-block"><img class="pro" src="../../images/product_8.png" alt=""/>
          <div class="content-pro">
            <p class="price">1.550.00 Đ</p>
            <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
            <div class="group-button">
              <button class="click">MUA NGAY</button>
              <button class="click">XEM CHI TIẾT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-block"><img class="pro" src="../../images/product_7.png" alt=""/>
          <div class="content-pro">
            <p class="price">1.550.00 Đ</p>
            <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
            <div class="group-button">
              <button class="click">MUA NGAY</button>
              <button class="click">XEM CHI TIẾT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-block"><img class="pro" src="../../images/product_10.png" alt=""/>
          <div class="content-pro">
            <p class="price">1.550.00 Đ</p>
            <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
            <div class="group-button">
              <button class="click">MUA NGAY</button>
              <button class="click">XEM CHI TIẾT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block-banner-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="block-item-banner"><img class="img-banner" src="../../images/banner2.png" alt=""/>
          <div class="banner-intro">
            <h1 class="name-product">DEMISHI</h1>
            <h3 class="intro-sp">MÁY HÀN XÌ CHUYÊN NGHIỆP</h3>
            <p class="price">2.250.000 Đ</p>
            <p class="opp">CƠ HỘI TRÚNG NGAY TIVI SAMSUNG LCD TRỊ GIÁ <span>2.700.000 Đ</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block-item-banner"><img class="img-banner" src="../../images/banner1.png" alt=""/>
          <div class="banner-intro">
            <h1 class="name-product">MAKITA</h1>
            <h3 class="intro-sp">MÁY KHOAN - CẮT ĐA NĂNG</h3>
            <p class="price">7.450.000 Đ</p>
            <p class="opp">TẶNG NGAY 1 BỘ PHỤ KIỆN CAO CẤP TRỊ GIÁ <span>600.000 Đ</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block-product-selling">
  <div class="container">
    <div class="row">
      <div class="block-left">
        <div class="top-title-pro"><i class="fab fa-windows pig"></i>
          <h3 class="title-name">SẢN PHẨM BÁN CHẠY</h3>
        </div>
      </div>
      <div class="block-menu">
        <div class="top-list-menu">
          <ul class="menu-product">
            <li class="menu-link-pro"><a class="link" href="">Máy khoan</a></li>
            <li class="menu-link-pro"><a class="link" href="">Máy in 3D</a></li>
            <li class="menu-link-pro"><a class="link" href="">Máy CNC</a></li>
            <li class="menu-link-pro"><a class="link" href="">Máy tiện</a></li>
            <li class="menu-link-pro"><a class="link" href="">Máy khác</a></li>
          </ul>
        </div>
      </div>
      <div class="block-right">
        <ul class="list-pro">
          <li class="left"><a href=""><i class="fas fa-caret-left"></i></a></li>
          <li class="right"><a href=""><i class="fas fa-caret-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row link-pro">
      <div class="col-md-3">
        <div class="product-block"><img class="pro" src="../../images/product_4.png" alt=""/>
          <div class="content-pro">
            <p class="price">1.550.00 Đ</p>
            <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
          </div>
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
        <div class="product-block"><img class="pro" src="../../images/product_4.png" alt=""/>
          <div class="content-pro">
            <p class="price">1.550.00 Đ</p>
            <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
          </div>
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-block-pig"><img class="pro" src="../../images/productpig.png" alt=""/>
          <div class="content-pro">
            <p class="price">1.550.00 Đ</p>
            <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
          </div>
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-block"><img class="pro" src="../../images/product_4.png" alt=""/>
          <div class="content-pro">
            <p class="price">1.550.00 Đ</p>
            <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
          </div>
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
        <div class="product-block"><img class="pro" src="../../images/product_4.png" alt=""/>
          <div class="content-pro">
            <p class="price">1.550.00 Đ</p>
            <h3 class="pro-name">MÁY KHOAN BLACK DECKER</h3>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
          </div>
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block-banner-2">
  <div class="container">
    <div class="row">
      <div class="block-item-banner">
        <div class="banner-intro">
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block-product-justnew">
  <div class="container">
    <div class="row">
      <div class="block-left">
        <div class="top-title-pro"><i class="fab fa-windows pig"></i>
          <h3 class="title-name">HÀNG MỚI VỀ</h3>
        </div>
      </div>
      <div class="block-right">
        <ul class="list-pro">
          <li class="left"><a href=""><i class="fas fa-caret-left"></i></a></li>
          <li class="right"><a href=""><i class="fas fa-caret-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mv">
      <div class="col-md-6 link-pro">
        <div class="product-block"><img class="mv" src="../../images/product_01.png" alt=""/>
          <div class="content-pro">
            <h1 class="name-product">MÁY KHOAN CNC 3D</h1>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
            <h3 class="pro-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...</h3>
            <p class="price">2.350.00 Đ</p>
          </div>
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 link-pro">
        <div class="product-block"><img class="mv" src="../../images/product_02.png" alt=""/>
          <div class="content-pro">
            <h1 class="name-product">MÁY KHOAN CNC 3D</h1>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"><span class="danhgia">(12 Đánh giá)</span></i>
            </p>
            <h3 class="pro-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...</h3>
            <p class="price">2.350.00 Đ</p>
          </div>
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mv">
      <div class="col-md-6 link-pro">
        <div class="product-block"><img class="mv" src="../../images/product_01.png" alt=""/>
          <div class="content-pro">
            <h1 class="name-product">MÁY KHOAN CNC 3D</h1>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"> <span class="danhgia">(12 Đánh giá)</span></i>
            </p>
            <h3 class="pro-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...</h3>
            <p class="price">2.350.00 Đ</p>
          </div>
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 link-pro">
        <div class="product-block"><img class="mv" src="../../images/product_02.png" alt=""/>
          <div class="content-pro">
            <h1 class="name-product">MÁY KHOAN CNC 3D</h1>
            <p class="evaluate"><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star tik"></i><i class="fas fa-star"> <span class="danhgia">(12 Đánh giá)</span></i>
            </p>
            <h3 class="pro-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...</h3>
            <p class="price">2.350.00 Đ</p>
          </div>
          <div class="group-button">
            <button class="click">MUA NGAY</button>
            <button class="click">XEM CHI TIẾT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>